DiscordAI.json
{
  "name": "DiscordAI",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScord",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1403447377993404577",
          "mode": "list",
          "cachedResultName": "entry-point",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1403447377993404577"
        },
        "content": "=You have been chosen by the stones of fate <@{{ $('Welcome Trigger').item.json.userId }}>.\n\nWelcome to the balanced realm of RaScalda!! where chaos and order dance in perfect harmony. I am J.A.R.V.I.S, your AI Guardian. \n\nGrab your gauntlet and join the quest—let's make this universe legendary!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -8384,
        -1472
      ],
      "id": "b469369c-6819-48c4-bb05-af80ba2cb16f",
      "name": "Welcome in RS",
      "webhookId": "5dd243b1-92af-4211-8b06-86159444da51",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "type": "user-join",
        "guildIds": [
          "943127717157675009",
          "997186070934458493"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -8768,
        -1376
      ],
      "id": "3c652e39-cc2f-4a9f-a39b-fc30e248f94d",
      "name": "Welcome Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "bdjiAeE50AWzNnws",
          "name": "JARVIS Trigger account"
        }
      }
    },
    {
      "parameters": {
        "guildIds": [
          "943127717157675009",
          "997186070934458493"
        ],
        "channelIds": [
          "1401105436328857743",
          "998642909345755326",
          "967501591332651070",
          "967346992491659317",
          "960899315851735110",
          "960899248625446912",
          "960899206644645939",
          "960899145017741423",
          "960060506150961162",
          "1401102785314820177",
          "1367003448146399313",
          "1367003071011618857",
          "1371538630593609878",
          "1113447342780198962",
          "1334541923515371582",
          "1067792580147953696",
          "1334540711818821672",
          "1334179060040994919",
          "1335876002231877694",
          "1424055002694942800"
        ],
        "roleIds": [
          "960505442126163998",
          "960505190606307359",
          "960504073558319154",
          "1066954597127692288",
          "997461741686497280"
        ],
        "pattern": "botMention",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -8784,
        -1568
      ],
      "id": "0870b44a-a850-4325-b58e-fcedd541b70b",
      "name": "React Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "bdjiAeE50AWzNnws",
          "name": "JARVIS Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb9899bb-a6ee-4d52-9263-4f1df3f2e334",
              "leftValue": "={{ $json.guildId }}",
              "rightValue": "943127717157675009",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8576,
        -1328
      ],
      "id": "9a62498e-42d8-42b0-a722-76040a6658f8",
      "name": "Redirect to RS"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -8432,
        -1728
      ],
      "id": "4aae94db-241e-470e-9601-86ff8224417d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7680,
        -1616
      ],
      "id": "c00f6810-dc8a-423b-aed5-dbd581d738d6",
      "name": "Brain1",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8208,
        -1904
      ],
      "id": "da15988e-8718-4a69-bbaf-4834893b1f43",
      "name": "Brain2",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScalda",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1408883784157499493",
          "mode": "list",
          "cachedResultName": "vps-status",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1408883784157499493"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -7392,
        -1728
      ],
      "id": "268ef79c-0a2b-4217-bcda-7c7a9e60d9f3",
      "name": "Send VPS Info",
      "webhookId": "23426327-ff9c-470d-b12b-054087393201",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -8432,
        -1920
      ],
      "id": "f676c207-659e-48fd-8afd-76f60f54e709",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "bryPFndYTz0NWHLR",
          "name": "Moresco Gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e824c556-92fb-4312-a92d-92a1a9e039e9",
              "leftValue": "={{ $json.labels[1].id }}",
              "rightValue": "IMPORTANT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9024,
        -1920
      ],
      "id": "76042e53-9ff5-4b9c-b6f0-c77fed18b5bb",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScalda",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1409246641399271444",
          "mode": "list",
          "cachedResultName": "imp-mail-updates",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1409246641399271444"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -8416,
        -2112
      ],
      "id": "2a8a6616-5878-48f5-8123-15f1c69808c9",
      "name": "Send a message1",
      "webhookId": "e0f363cc-a966-43bb-90ba-f1bba53448ee",
      "retryOnFail": true,
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8752,
        -1712
      ],
      "id": "4f224325-af2d-472b-af9b-0c7d6f3f9c5e",
      "name": "Brain3",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.snippet }}\n{{ $json.From }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Summarize these important mail and send it to discord send me the sender mail address as well. Act like Jarvis.\n\nProvide the ouput in 3 Sections :\n**Subject** : <Subject>\\n\\n\n**Summary** : <summary>\\n\\n\n**Sender Email** : <email>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -8832,
        -1984
      ],
      "id": "c880f6a1-6b72-42ad-8000-561ecb745c88",
      "name": "Mail Summarizer",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have to summarize the free disk storage available in GB's. use simple terms. Act like Jarvis, when explaining a new output add a new line. for example after explaining about the disk space add a new line and then start talking about free memory. Keep the output nice and clean. Keep the response within 3-4 lines. Go!!\n\n{{ $json.stdout }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -7744,
        -1840
      ],
      "id": "6002e31c-edc8-43fc-8d08-19848dae8668",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "df -Th"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -8096,
        -1728
      ],
      "id": "cecffaa8-a8d4-4ec3-b0cc-f2e5e3c409fa",
      "name": "check free Storage",
      "credentials": {
        "sshPrivateKey": {
          "id": "rBOL2lBU2o2zrvJt",
          "name": "Oracle VPS"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "28cb14a9-7982-412a-b02e-e900d947e8b8",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7536,
        -1552
      ],
      "id": "a5547858-f7ec-4116-96ab-7a298da2812b",
      "name": "Webhook",
      "webhookId": "28cb14a9-7982-412a-b02e-e900d947e8b8",
      "credentials": {
        "httpBasicAuth": {
          "id": "sJnGOGCu5z2k4r5n",
          "name": "n8n-moresco-EC2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScalda",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1411379969753485503",
          "mode": "list",
          "cachedResultName": "wazuh-ec2-status",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1411379969753485503"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -7152,
        -1744
      ],
      "id": "fd260b25-0fe4-45cd-a989-082e0d39c7e9",
      "name": "Send a message2",
      "webhookId": "6e0b2a5f-fffc-40c6-be89-a37a739b6745",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7456,
        -1296
      ],
      "id": "4269eaec-020e-42eb-808b-022ca765c6f4",
      "name": "Brain4",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body['detail-type'] }}\n{{ $json.body.account }}\n{{ $json.body.region }}\n{{ $json.body.time }}\n{{ $json.body.detail['instance-id'] }}\n{{ $json.body.detail.state }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are Jarvis, Tony Stark's intelligent, helpful AI assistant. Use the information provided to:\n\nAnalyze and understand event payloads from webhook nodes.\n\nSummarize each event, specifying the most important details: event type, source, time, account, resource IDs, status, and any relevant parameters.\n\nFormat responses clearly and professionally, as if delivering a concise report to your Sir.\n\nIf additional context or clarification is needed, explain what information is missing and suggest follow-up actions.\nAlways maintain a tone that is confident, thorough, and supportive."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -7264,
        -1584
      ],
      "id": "9719f939-578b-4ae7-aadb-8b168a6759c6",
      "name": "EC2 Status Checker"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScord",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}",
        "emoji": ":emoji_44:998534963144167525"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -8560,
        -1568
      ],
      "id": "58600b13-9ab2-4c4a-9d84-292fe4e58d54",
      "name": "React with an emoji to a message",
      "webhookId": "3aaeb21f-ec9f-437a-9421-d8d4662f46ac",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScalda",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1424055002694942800",
          "mode": "list",
          "cachedResultName": "docker-status",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1424055002694942800"
        },
        "content": "={{ $json.output.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -7504,
        -2048
      ],
      "id": "04f1b0b2-65e6-4e1e-a3dd-9022639becb3",
      "name": "Send a message",
      "webhookId": "03de3c28-35f0-46fd-9a2a-218ffb167db1",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"unused_images_found\" : true,\n  \"message\" : \"message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -7952,
        -1904
      ],
      "id": "75eba9d0-ed3a-48e2-b191-e6ea8e48f7ba",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03cee2c8-87dc-46bc-a313-11a24eebdcc8",
              "leftValue": "={{ $json.output.unused_images_found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7760,
        -2032
      ],
      "id": "0988cf78-b5ad-4a1e-a761-ea117070041d",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U6lMTIQLoyuFuPRv",
          "mode": "list",
          "cachedResultUrl": "/workflow/U6lMTIQLoyuFuPRv",
          "cachedResultName": "SSH Server Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -8080,
        -1904
      ],
      "id": "38ba8e52-4f68-40c4-a35d-e9908e56243a",
      "name": "Check Docker Images"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8208,
        -1312
      ],
      "id": "f4806400-6ed9-4727-b262-cdd1f05f99fc",
      "name": "Brain5",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U6lMTIQLoyuFuPRv",
          "mode": "list",
          "cachedResultUrl": "/workflow/U6lMTIQLoyuFuPRv",
          "cachedResultName": "SSH Server Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -8080,
        -1328
      ],
      "id": "82e16771-3fb4-423a-b3e0-79e58eefde2f",
      "name": "Check Docker Volumes"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"unused_docker_volumes_found\" : true,\n  \"message\" : \"message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -7856,
        -1328
      ],
      "id": "f5606b74-41bf-4ab4-8c4a-b3d7f1ba948e",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3d3f92c-54be-44f3-8413-dc70f02c42ab",
              "leftValue": "={{ $json.output.unused_docker_volumes_found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7680,
        -1440
      ],
      "id": "5b3d85f4-c5cd-4fba-8757-670727c386c3",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "943127717157675009",
          "mode": "list",
          "cachedResultName": "RaScalda",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009"
        },
        "channelId": {
          "__rl": true,
          "value": "1424055002694942800",
          "mode": "list",
          "cachedResultName": "docker-status",
          "cachedResultUrl": "https://discord.com/channels/943127717157675009/1424055002694942800"
        },
        "content": "={{ $json.output.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -7392,
        -1456
      ],
      "id": "b3d57e45-8b66-4d67-96b0-9760ac3cba33",
      "name": "Send a message3",
      "webhookId": "bf1cb654-285a-4094-a624-7ab428f4bc8b",
      "credentials": {
        "discordBotApi": {
          "id": "gjVPFIB6hwweOQ16",
          "name": "JARVIS account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "check for any unused docker volumes",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -8160,
        -1536
      ],
      "id": "09d2b835-34fe-4d98-854f-1b344ab31a09",
      "name": "Docker Volume Checker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "check for any unused docker images",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You have full command execution privileges on the connected server. Act like JARVIS, You are authorized to run any necessary command autonomously to complete user requests. If you encounter missing or incomplete information about a command or procedure, you may use the web search tool to look it up and proceed independently. Always act with precision, prioritize system stability and security, and document all actions clearly. If there is no usused image, then don't send me a message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -8160,
        -2128
      ],
      "id": "8d1e1581-2b51-4548-80f7-e0342578072f",
      "name": "Docker Image Checker"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7888,
        -1712
      ],
      "id": "5a81f8eb-af95-4fba-911d-6ddf0d28ed83",
      "name": "Fallback Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7792,
        -1584
      ],
      "id": "fd0b084b-67b3-47fe-8c45-5d43d26b2b59",
      "name": "Fallback Brain1",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8336,
        -1280
      ],
      "id": "3546adb7-07a4-43fa-a805-837a3ce3d638",
      "name": "Fallback Brain2",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7264,
        -1312
      ],
      "id": "7852e6b5-05f4-4996-818c-a5e286dba155",
      "name": "Fallback Brain3",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8912,
        -1728
      ],
      "id": "5b45749e-8daf-4a81-ab68-79c7ef48e5ae",
      "name": "Fallback Brain4",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Welcome Trigger": {
      "main": [
        [
          {
            "node": "Redirect to RS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React Trigger": {
      "main": [
        [
          {
            "node": "React with an emoji to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirect to RS": {
      "main": [
        [
          {
            "node": "Welcome in RS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Docker Volume Checker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Docker Image Checker",
            "type": "main",
            "index": 0
          },
          {
            "node": "check free Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brain2": {
      "ai_languageModel": [
        [
          {
            "node": "Docker Image Checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mail Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain3": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mail Summarizer": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [],
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send VPS Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check free Storage": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "EC2 Status Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain4": {
      "ai_languageModel": [
        [
          {
            "node": "EC2 Status Checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "EC2 Status Checker": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Docker Image Checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Docker Images": {
      "ai_tool": [
        [
          {
            "node": "Docker Image Checker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain5": {
      "ai_languageModel": [
        [
          {
            "node": "Docker Volume Checker",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Check Docker Volumes": {
      "ai_tool": [
        [
          {
            "node": "Docker Volume Checker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Docker Volume Checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker Volume Checker": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docker Image Checker": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Docker Image Checker",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Fallback Brain1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Fallback Brain2": {
      "ai_languageModel": [
        [
          {
            "node": "Docker Volume Checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Brain3": {
      "ai_languageModel": [
        [
          {
            "node": "EC2 Status Checker",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Fallback Brain4": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Summarizer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ec8273d-26f4-4923-950b-54949bfd0645",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2b5c8ab06fa554533c54e6d7404fd79a79c73e31a6cef240d61cec252a9945d"
  },
  "id": "e1QGE3Efs8TUZo6b",
  "tags": []
}
